* { 

	box-sizing: border-box;
	padding: 0;
	margin: 0;

 }


 

 nav ul {

 	padding:10px 20px 30px 40px;
 	overflow: auto;
 	background-color:black;
 

 }


.top-nav-list li{
 	float:left;
 	width: 25%;
 	list-style:none;
 	text-align:center;
 	
 	

 }
 .top-nav-list a {

 	color:white;
 	text-decoration:none; 

 }
 .top-header {
 	text-align: center;
 	color:white;
 	background-image: url(../images/solar.jpeg);
 	background-size: cover;
 	height: 500px;
 	background-position: center;
 	padding: 300px;


 	
 }
 .header-center {
 	padding-bottom: 10px;
 	color:black;
 }


 footer {
 	text-align:center;
 }
 .flex-row {
 	display: flex;

 }